Spechar_Barabasi_cite.csv
cb5.csv
career_age_data.csv
centrality_career_age.csv
citationBara.csv
fetching_surname.ipynb
gender_edited.csv
lastdata.csv
mfpairs_similarity.csv
mmpairs_similarity.csv
mmpairs_similarity_edited.csv
mwpairs_similarity_edited.csv
old_sim_mf.csv
name_data_processing.ipynb
pairs_edited.csv
paperdata.csv
primdata.csv
result.csv
sbc_edited.csv
sbcg.csv
sim_mf_5.csv
sim_mm_5.csv
standardized.csv
surnames.csv
wwpairs_similarity.csv
wwpairs_similarity_edited.csv
figs/
.DS_Store
Fig_3B_first_mover_adv_test.ipynb
First-mover advantage SIMILARITY ALGORITHM.ipynb
First_mover_advantage.ipynb
First_mover_advantage_SI.ipynb
main-archived.ipynb
.ipynb_checkpoints/
